<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
<bean class="beans.PropertiesDI.Test" name="test" scope="singleton">
        <property name="drivers">
<!--            <props>-->
<!--                <prop key="driver_name">oracle.jdbc.OracleDriver</prop>-->
<!--                <prop key="url">someURL</prop>-->
<!--                <prop key="username">username</prop>-->
<!--                <prop key="pass">password</prop>-->
<!--            </props>-->
            <util:properties location="drivers.properties"></util:properties>
        </property>
    </bean>
</beans>