<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="e" class="beans.setterDI.Engine">
        <property name="engineName" value="engineName"/>
    </bean>

    <bean id="Car" class="beans.setterDI.Car">
        <property name="carName" value="carName"/>
        <property name="e" ref="e"/>
    </bean>
</beans>