<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean class="beans.autowiring_xml.Engine" id="e1">
        <property name="modelYear" value="2015"/>
    </bean>

    <bean class="beans.autowiring_xml.Engine" id="e2" autowire-candidate="false">
        <property name="modelYear" value="2016"/>
    </bean>

    <bean class="beans.autowiring_xml.Bus" id="b1" autowire="constructor">
        <!--        <property name="engine" ref="e1"/>-->
    </bean>
</beans>